<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body>
    <div class="container">
        {{- partial "header.html" . -}}
        {{- partial "nav-scroller.html" . -}}
    </div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      {{ block "main" . }}{{ end }}

    </div><!-- /.blog-main -->

    {{- partial "sidebar.html" . -}}



  </div><!-- /.row -->

</main><!-- /.container -->

{{- partial "footer.html" . -}}

</body>
</html>
