<link rel="stylesheet" type="text/css" href="/css/cookieconsent.min.css" />

<script src="/js/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "content": {
    "message": "Diese Webseite nutzt Cookies.",
    "dismiss": "OK",
    "allow": "Cookies erlauben",
    "link": "Mehr Informationen.",
    "href": "/pages/datenschutz"
  }
});
</script>