{{ $test := .Site.BaseURL }}
<div class="row mb-2">
{{ range where .Site.Pages "Params.weight" 2 }}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ .Params.Categories }}</strong>
          <h3 class="mb-0">{{ .Title }}</h3>
          {{/* <div class="mb-1 text-muted">{{ .Date }}</div> */}}
          <p class="card-text mb-auto">{{ .Summary | truncate 80 }}</p>
          <a href="{{ .RelPermalink }}" class="stretched-link">Weiterlesen...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ $test }}{{ .Dir }}{{.Params.Image}}" class="bd-placeholder-img" width="200" height="250" alt="asdf"></img>
          
        </div>
      </div>
    </div>
    {{ end }}

    <!--- Second featured post -->
    {{ range where .Site.Pages "Params.weight" 3 }}

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{ .Params.Categories }}</strong>
          <h3 class="mb-0">{{ .Title }}</h3>
          {{/* <div class="mb-1 text-muted">{{ .Date }}</div> */}}
          <p class="mb-auto">{{ .Summary | truncate 80 }}</p>
          <a href="{{ .RelPermalink }}" class="stretched-link">Weiterlesen...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ $test }}{{ .Dir }}{{.Params.Image}}" class="bd-placeholder-img" width="200" height="250" alt="asdf"></img>
        </div>
      </div>
    </div>


{{ end }}

</div>