<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body>
    <div class="container">
  {{- partial "header.html" . -}}

  {{- partial "nav-scroller.html" . -}}

  {{/* TODO: Improove headline before going master */}}
  {{/* {{- partial "headline.html" . -}} */}}
  {{- partial "featured-posts.html" . -}}
  

</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        <a href="posts" class="text-secondary">Aus dem Blog</a>
      </h3>
      <div class="blog-post">
      {{ range first 3  (where .Site.RegularPages.Reverse "Section" "posts")}}
        {{ $dateTime := .PublishDate.Format "2019-12-30" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "2019-12-30" }}
          <h2 class="blog-post-title"><a href="{{ .RelPermalink }}" class="text-dark">{{ .Title }}</a></h2>
          <p class="blog-post-meta">{{ .PublishDate.Format $dateFormat }} von {{ .Params.author }}</p>
        {{ .Summary }}
      {{ end }}
      </div>

    {{/* {{- partial "pagination.html" . -}} */}}

    </div><!-- /.blog-main -->

    {{- partial "sidebar.html" . -}}

    

  </div><!-- /.row -->

</main><!-- /.container -->

{{- partial "footer.html" . -}}

{{- partial "cookie.html" . -}}

</body>
</html>
